html{
    margin:  50px 100px 50px 100px;
}

body{
    margin-left: 100p;
    margin-top: 50p;
}
/*HEADER*/

header nav ul{
  display: flex;
  align-items: flex-end;
}

header nav{
    display: flex;
    justify-content: right;
    margin-bottom: 20px
}

header ul:first-of-type{
    margin-right: 10px;
}

#logo{
    float: left;
    margin-right: 10px;
}

h1 {
    font-size: 40px;
    font-family: 'Allura', cursive;
    font-weight: 800;
}

header p {
    font-size: 10px;
}

/*MAIN BODY*/

main{
    width: 960px;
}

h2{
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 5px;
}
#print{
    font-size: 12px;
    margin-left: 1px;
}

#article-title{
    text-align: left;
    margin-top: 50px;
}

#article-title p{
    color: grey;
}

#print-logo{
   float: right;
}

#article-title p:first-of-type{
    float: right;
    margin-bottom: 30px;
}

article{
    margin-top: 15px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 21px;
    color: grey;
}

article img{
    margin-top: 20px;
}

#about-me{
    margin-top:30px;
    display: flex;
}
h3 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom:10px;
}

#about-me img {
    margin-right: 15px;
}

#about-me p {
    font-size: 20px;
}

#bio{
    color: grey;
}

#about-me ul {
    width:600px;
}

/* FOOTER*/
footer {
    text-align: center;
    margin-top:50px;
    color: grey;
}
#share {
    color:aliceblue;
    margin-left: 50px;
    width:250px;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid rgb(123, 36, 36);
    background-color: rgb(123, 36, 36);
}
footer img {
    margin-bottom: 20px;
    float: center;
}